.item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.item-name {
  padding-right: 20px;
}
.edit-list-item {
  margin-right: 15px;
}
.item.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}
